@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



body{
    /*border: solid green;*/
    display: flex;
    max-height: max-content;
    margin-top: 2%;
    background: linear-gradient(to right, grey, white);
}
#izquierda{    
    text-align: center;    
    width: 30vw;
    /*border: solid red;*/
    background-color: rgb(161, 161, 255);
    clip-path: polygon(0 0, 75% 0, 100% 10%, 100% 100%, 0 100%);
}
#contenedorDeLaFoto{
    display: flex;
    justify-content: center;
    /*border: solid violet;*/
    max-width: 100vw;
    height: 50vh;
    margin-top: 25%;
}
#foto{
    /*max-width: 100vw;
    max-height: 100vh;*/
    width: 20vw;
    height: 45vh;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 10px 10px 10px grey;
    border: solid 3px whitesmoke;
    
}
#datosPersonales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    /*border: solid; */
}

#iconomail{
    display: flex;    
    /*border: solid;*/
}
#mail{
    display: grid;
    align-items: center;
    /*border: solid;*/
}

#iconocv{
    width: 128px;
    height: 128px;
}
img{
    width: 32px;
    height: 32px;
}

h6{
    font-size: 1vw;
    /*border: solid;*/
}
ul{
    margin-left: 2%;
    padding: 1%;
}
li{
    list-style-type: none;
}
#redes{
    /*border: solid;    */
    height: 10vh;
    width: 100%;
}







#derecha{
    justify-content: center;  
    /*border: solid blue;*/
    width: 70vw;
}

#nombre, #apellido{
    font-size: 5vw;
    margin-left: 2%;
}
#apellido{
    color: aqua;
}
#divisor{
    position: absolute;
    right: 0;    
    /*border: solid;*/
    height: 3%;
    width: 50%;
    background-color: rgb(161, 161, 255);
    clip-path: polygon(10% 0, 0 100%, 0 100%, 100% 100%, 100% 0);
}
#presentacion, #experiencias, #practicas, #conocimientos, #conocimientosadmin, #otrosconocimientos{
    margin-left: 2%;
}
#titulopresentacion, #tituloexperiencia, #titulopractica, #tituloconocimiento, #tituloconocimientosadmin,
#titulootrosconocimientos{
    display: flex;
    align-items: center;
    
}
#iconoinfo, #iconoexperiencia, #iconopractica, #iconoconocimiento, #iconoconocimientosadmin,
#iconootrosconocimientos{
    margin-left: 1%;
}
#descripcion{
    line-height: 1.8;
    text-align: justify;
}
#experiencia, #practica, #conocimiento, #conocimientoadmin{
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}

#pie{
    /*border: solid;*/
    display: flex;
    justify-content: center;
    gap: 2%;
    height: 10vh;
    width: 100%;
}
#contenedorformulario{
    display: flex;
    width: 100%;
    border: solid;
    justify-content: center;
}


#aqui,#btnskills{
    background: none;
    border: none;
    color: red;
}
#aqui:hover{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#enviarmail{
    display: flex;
    flex-direction: column;
    max-height: max-content;    
    margin-left: 2%;
    margin-right: 2%;
    border-top: solid 1px rgb(211, 211, 211);
    border-bottom: solid 1px rgb(211, 211, 211);
    justify-content: center;
    align-items: center;
    padding: 2%;
}
#divskills{
    border-bottom: none;
}
#formulario, .modal-body, .modal-header{
    background: linear-gradient(to right, white, grey);
}

.skillscontainer{
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    height: max-content;
    background:none;
    margin-bottom: 2%;
}
.skills{
    display: flex;
    width: 45%;
    height: 2%;
    margin: 1% 2% 1% 2%;
    background: linear-gradient(to right, white, grey);
    border-radius: 15px 15px 15px 15px;


}
.skill{
    display: flex;
    width: 0;
    height: max-content;    
    border-radius: 15px;
    border-right: solid 1px black;
    justify-content: center;
    padding-top: 2%;
    color: aliceblue;
    overflow: hidden;
}
.skillresto{
    display: flex;
    margin-right: 0;
    width: 0;
    justify-content: center;
    border-radius: 15px;
    padding-top: 2%;
    /*border: solid;*/
}
#html{
    animation: html 5s forwards;
    background-color: blue;
}
#html100{
    animation: html100 5s forwards;
}
#js{
    animation: js 5s forwards;
    background-color: red;
}
#js100{
    animation: js100 5s forwards;
}
#css{
    animation: css 5s forwards;
    background-color: yellowgreen;
}
#css100{
    animation: css100 5s forwards;
}
#sql{
    animation: sql 5s forwards;
    background-color: blueviolet; 
}
#sql100{
    animation: sql100 5s forwards;
}
#java{
    animation: java 5s forwards;
    background-color: rgb(255, 255, 0);
    color: black;
}
#java100{
    animation: java100 5s forwards;
}
#xampp{
    animation: xampp 5s forwards;
    background-color: brown;
}
#xampp100{
    animation: xampp100 5s forwards;
}
#code{
    animation: code 5s forwards;
    background-color: forestgreen;
}
#code100{
    animation: code100 5s forwards;
}
#beans{
    animation: beans 5s forwards;
    background-color: cyan;
    color: black;
}
#beans100{
    animation: beans100 5s forwards;
}
h6{
    white-space: nowrap;
    overflow: hidden;
}

@keyframes html{
    to {width: 75%;}
}
@keyframes html100{
    to {width: 25%;}
}
@keyframes js{
    to {width: 70%;}
}
@keyframes js100{
    to {width: 30%;}
}
@keyframes css{
    to {width: 65%;}
}
@keyframes css100{
    to {width: 35%;}
}
@keyframes sql{
    to {width: 55%;}
}
@keyframes sql100{
    to {width: 45%;}
}
@keyframes java{
    to {width: 55%;}
}
@keyframes java100{
    to {width: 45%;}
}
@keyframes xampp{
    to {width: 70%;}
}
@keyframes xampp100{
    to {width: 30%;}
}
@keyframes code{
    to {width: 65%;}
}
@keyframes code100{
    to {width: 35%;}
}
@keyframes beans{
    to {width: 55%;}
}
@keyframes beans100{
    to {width: 45%;}
}






@media (max-width:600px){
    body{
        flex-direction: column;
    }
    #izquierda{
        width: 100%;
        padding-bottom: 2%;
    }
    #nombre, #apellido{
        font-size: 10vw;
        margin-left: 2%;
    }
    #foto{
        width: 60vw;
        height: 45vh;
    }
    #contenedordelafoto{
        width: auto;
    }
    h6{
        font-size: 3vw;
    }
    img{
        width: 24px;
        height: 24px;
    }
    #estudios{
        font-size: 3vw;
    }
    #derecha{
        width: 99%;
    }
    #iconocv{
        width: 64px;
        height: 64px;
    }
    #formulario{
        width: 100%;
    }
    .skillscontainer{
        flex-direction: column;
        margin-bottom: 2%;
    }
    .skills{
        width: 99%;
        
    }
}